[workspace]
members = [
    "aries_vcx",
    "libvcx",
    "agency_client",
    "libvdrtools",
    "messages",
    "messages2",
    "shared_vcx",
    "diddoc",
    "agents/rust/aries-vcx-agent",
    "wrappers/vcx-napi-rs",
]

[workspace.package]
version = "0.51.1"
authors = ["Absa Group Limited", "Hyperledger Indy Contributors <hyperledger-indy@lists.hyperledger.org>"]
description = "Absa's fork of HL LibVCX"
license = "Apache-2.0"
edition = "2021"

[profile.release]
debug = 0
panic = 'unwind'
incremental = false
