[workspace]
members = [
    "aries_vcx",
    "libvcx_core",
    "agency_client",
    "libvdrtools",
    "messages_macros",
    "messages",
    "shared_vcx",
    "diddoc_legacy",
    "agents/rust/aries-vcx-agent",
    "wrappers/vcx-napi-rs",
    "aries_vcx_core",
    "uniffi_aries_vcx/core",
    "did_doc",
    "did_peer",
    "did_key",
    "did_doc_sov",
    "did_parser",
    "did_resolver",
    "did_resolver_registry",
    "did_resolver_sov",
    "did_resolver_web",
    "public_key",
    "indy_ledger_response_parser",
    "wallet_migrator",
    "tools/simple_message_relay",
    "demo/alice",
    "demo/faber",
]

[workspace.package]
version = "0.58.0"
authors = ["Absa Group Limited", "Hyperledger Indy Contributors <hyperledger-indy@lists.hyperledger.org>"]
description = "Library to work with Aries protocols & collection of supporting components"
license = "Apache-2.0"
edition = "2021"

[profile.release]
debug = 0
panic = 'unwind'
incremental = false
