[package]
name = "did_cheqd"
authors.workspace = true
description.workspace = true
license.workspace = true
version = "0.1.0"
edition = "2021"

[lib]
name = "did_cheqd"
path = "src/lib.rs"

[dependencies]
did_resolver = { path = "../../did_resolver" }
tonic = { workspace = true, default-features = false, features = [
    "codegen",
    "prost",
    "channel",
] }
prost = { workspace = true, default-features = false }
prost-types.workspace = true
native-tls = { workspace = true, features = ["alpn"] }
hyper-tls.workspace = true
hyper-util = { workspace = true, features = ["client-legacy", "http2"] }
http-body-util.workspace = true
async-trait.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true }
chrono = { workspace = true, default-features = false, features = ["now"] }
url = { workspace = true, default-features = false }
bytes.workspace = true

[dev-dependencies]
tokio = { workspace = true, default-features = false, features = [
    "macros",
    "rt",
] }
