[package]
name = "client-tui"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aries_vcx_wallet = { path = "../../../aries_vcx_wallet", features = [
    "askar_wallet",
] }
cursive = { workspace = true, features = ["crossterm-backend"] }
futures = { workspace = true, default-features = true }
log.workspace = true
mediator = { path = ".." }
messages = { path = "../../../messages" }
reqwest.workspace = true
serde_json.workspace = true

tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
