[package]
name = "client-tui"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aries_vcx_wallet = { path = "../../../aries_vcx_wallet", features = [
    "vdrtools_wallet",
] }
axum = "0.7.5"
cursive = { version = "0.20.0", features = ["crossterm-backend"] }
futures = "0.3.28"
log = "0.4.20"
mediator = { path = ".." }
messages = { path = "../../../messages" }
reqwest = "0.12.5"
serde_json = "1.0.107"

tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
