[package]
name = "uniffi_aries_vcx"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[lib]
crate-type = ["cdylib"]
name = "uniffi_vcx"

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uniffi = { version = "0.23.0", features = ["cli"] }
aries_vcx = { path = "../../../aries_vcx", features = [
    "vdrtools_wallet",
    "credx",
] }
tokio = { version = "1.24.1", features = ["rt-multi-thread"] }
once_cell = "1.17.0"
thiserror = "1.0.38"
serde_json = "1.0.91"
serde = { version = "1.0.188", features = ["derive"] }
async-trait = "0.1.64"
did_parser = { path = "../../../../did_core/did_parser" }
diddoc_legacy = { path = "../../../misc/legacy/diddoc_legacy" }
shared = { path = "../../../misc/shared" }
url = "2.3.1"
android_logger = "0.13.3"
log = "0.4.16"

[build-dependencies]
uniffi = { version = "0.23.0", features = ["build", "cli"] }
