[package]
name = "did_jwk"
version = "0.1.0"
edition.workspace = true

[dependencies]
did_parser_nom = { path = "../../did_parser_nom" }
did_doc = { path = "../../did_doc" }
did_resolver = { path = "../../did_resolver" }
public_key = { path = "../../public_key", features = ["jwk"] }
async-trait.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
base64.workspace = true
thiserror.workspace = true

[dev-dependencies]
tokio = { workspace = true, default-features = false, features = ["macros", "rt"] }
