[package]
name = "public_key"
version = "0.1.0"
edition = "2021"

[features]
jwk = ["dep:askar-crypto"]

[dependencies]
thiserror.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
base64.workspace = true
bs58.workspace = true
multibase.workspace = true
unsigned-varint.workspace = true
# askar-crypto used for jwk conversion. maintain minimal feature set
askar-crypto = { workspace = true, features = [
    "std",
    "any_key",
    "ec_curves",
    "ed25519",
], optional = true }
