[package]
name = "aries_vcx_wallet"
version.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
vdrtools_wallet = []
askar_wallet = ["dep:aries-askar"]

[dependencies]
aries-askar = { version = "=0.3.0", optional = true }
async-trait = "0.1.68"
bs58 = { version = "0.5" }
libvdrtools = { path = "../misc/legacy/libvdrtools" }
log = "0.4.17"
indy-api-types = { path = "../misc/legacy/libvdrtools/indy-api-types" }
indy-vdr = { git = "https://github.com/hyperledger/indy-vdr.git", rev = "c143268", default-features = false, features = ["log"] }
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.95"
public_key = { path = "../../did_core/public_key"}
rand = "0.8.5"
thiserror = "1.0.40"
tokio = { version = "1.20" }
typed-builder = "0.18.1"
uuid = { version = "1.3.0", default-features = false, features = ["v4"] }
