[package]
name = "did_resolver_web"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
did_resolver = { path = "../../did_resolver" }
async-trait.workspace = true
serde_json.workspace = true
thiserror.workspace = true
hyper.workspace = true
hyper-tls.workspace = true
hyper-util = { workspace = true, features = ["client-legacy", "http1", "http2"] }
http-body-util.workspace = true

[dev-dependencies]
hyper = { workspace = true, features = ["server"] }
hyper-util = { workspace = true, features = ["server"] }
tokio = { workspace = true, default-features = false, features = [
    "macros",
    "rt",
] }
tokio-test.workspace = true
