[package]
name = "wallet_migrator"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
vdrtools_wallet = ["aries_vcx_wallet/vdrtools_wallet"]
askar_wallet = ["aries_vcx_wallet/askar_wallet"]

[dependencies]
aries_vcx_wallet = { path = "../../aries_vcx_wallet" }
credx = { package = "indy-credx", git = "https://github.com/hyperledger/indy-shared-rs", tag = "v1.1.0" }
vdrtools = { package = "libvdrtools", path = "../legacy/libvdrtools" }
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.96"
thiserror = "1.0.40"
log = "0.4.19"
public_key = { path = "../../../did_core/public_key"}

[dev-dependencies]
tokio = { version = "1.38.0", features = ["macros", "rt"] }
uuid = { version = "1.9.0", default-features = false, features = ["v4"] }
test-log = "0.2.14"

