[package]
name = "did_resolver_sov"
version = "0.1.0"
edition = "2021"

[dependencies]
did_resolver = { path = "../../did_resolver" }
aries_vcx_ledger = { path = "../../../aries/aries_vcx_ledger" }
async-trait.workspace = true
serde_json.workspace = true
serde = { workspace = true, features = ["derive"] }
chrono = { workspace = true, default-features = false }
thiserror.workspace = true
url.workspace = true
log.workspace = true
bs58.workspace = true

[dev-dependencies]
mockall.workspace = true
aries_vcx = { path = "../../../aries/aries_vcx" }
tokio = { workspace = true, default-features = false, features = ["macros", "rt"] }
test_utils = {path = "../../../aries/misc/test_utils", features = ["askar_wallet"] }
aries_vcx_wallet = { path = "../../../aries/aries_vcx_wallet" }
