[package]
name = "anoncreds_types"
version = "0.1.0"
edition = "2021"

[lib]
name = "anoncreds_types"
path = "src/lib.rs"

[features]
messages = []
ledger = []
zeroize = ["dep:zeroize"]
default = ["messages", "ledger", "zeroize"]

[dependencies]
anoncreds-clsignatures.workspace = true
bitvec.workspace = true
log.workspace = true
once_cell.workspace = true
regex.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
typed-builder.workspace = true
zeroize = { workspace = true, optional = true, features = ["zeroize_derive"] }

[dev-dependencies]
rand.workspace = true
