[package]
name = "anoncreds_types"
version = "0.1.0"
edition = "2021"

[lib]
name = "anoncreds_types"
path = "src/lib.rs"

[features]
messages = []
ledger = []
default = ["messages", "ledger"]

[dependencies]
anoncreds-clsignatures = "0.3.2"
bitvec = "1.0.1"
log = "0.4.21"
once_cell = "1.19.0"
regex = "1.10.5"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
typed-builder = "0.18.1"

[dev-dependencies]
rand = "0.8.5"
