[package]
name = "anoncreds-types"
version = "0.1.0"
edition = "2021"

[lib]
name = "anoncreds_types"
path = "src/lib.rs"

[dependencies]
anoncreds-clsignatures = "0.3.1"
bitvec = "1.0.1"
log = "0.4.20"
once_cell = "1.19.0"
regex = "1.10.3"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
thiserror = "1.0.56"

[dev-dependencies]
rand = "0.8.5"
